.optiblock {
  width: 100%;
  max-width: 2000px;
  height: calc(100vh - 300px);
  padding: 20px;
  border-radius: 4px;
  font-family: "circbold";
}
.formblock{
  width: 100%;
  max-width: 2000px;
  padding: 13px;
  border-radius: 4px;
  font-family: "circbold";
}
.formcont{
  margin: 0px 0px -37px 0px;
}
/* Center tables for demo */
table {
  margin: 0 auto;
}
.right{
  padding: 21px;
}
/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 11pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #ef496f;
  background: rgb(248 183 198 / 62%);
}
table caption {
  padding: 0.5em;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
.content {
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.content::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 15px;
}
.content::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
  background: #f1f1f18f;
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background: #f8b7c7;
  border-radius: 10px;
}
.content::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-thumb:hover {
  background: #ee97ad;
}
.dualcont {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
#chart {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15px;
}
.left{
  width: 50%
}
.right{
  width: 50%
}
.submittbn{
  border-radius: 4px;
  border: none;
  padding: 15px;
  margin-left: 10px;
  background-color: #f8b7c6;
  color: #ef496f;
  font-family: 'circblack';
  cursor: pointer;
}
select {
  border: none;
  line-height: 1;
  outline: 0;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
}
option{
  padding: 15px;
}